body {
  padding-top: 50px;
}
.starter-template {
  padding: 22px 15px;
  text-align: center;
}
.navbar-brand {
  max-width: 500px;
}
#query {
  width: 480px;
}
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

#visualization {
  margin-top: 15px;
}
